.password {
  width: 50vh;
  height: 35vh;
  background: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 7px 23px 3px rgba(128, 128, 128, 0.75);
  article {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;

    & > div > h1 {
      margin: 1rem 0 0 3rem;
    }

    & > form {
      width: 100%;
    }
  }
}

@media (max-width: 414px) {
  .password {
    height: 35vh;
    article > div {
      h1 {
        font-size: 130%;
        margin: 1rem 0 0 2rem;
      }

      p {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 370px) {
  .password {
    height: 35vh;
    article > div {
      h1 {
        font-size: 15px;
        margin: 1rem 0 0 2rem;
      }

      p {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 320px) {
    .password {
      height: 38vh;
    }
  }
