@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Nunito;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
label,
input,
button {
  font-family: -apple-system, Nunito;
}

form {
  display: flex;
  flex-direction: column;
}

label,
input,
button {
  font-size: 17px;
}

label {
  margin-top: 10px;
}

input {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: transparent;
}

input[type="submit"] {
  width: 85%;
  background-color: #04c35c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin: 20px auto 10px auto;
  padding: 15px 0 15px 0;
  cursor: pointer;
}

button {
  width: 40%;
  background-color: #04c35c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin: 20px auto;
  padding: 15px 134px;
  cursor: pointer;
}

@media (max-width: 414px) {
  label,
  input,
  button {
    font-size: 10px;
  }
}
